* {
    margin-left: 15px;
}

#search {
    color: turquoise;
    width: 150px;
    height: 25px;
    border-color: turquoise;
    border-radius: 15px;
    margin-top: 25px;
}

#plus {
    color: white;
    border-radius: 50%;
    border-color: turquoise;
    background-color: turquoise;
}

#account {
    border-color: black;
    color: white;
    width: 200px;
    height: 35px;
    background-color: blue;
    box-shadow: 8px 5px 5px black;
}