h1 {
    color: chocolate;
    background-color: blanchedalmond;
    font-size: 32px;
    text-align: center;
}

#slogan {
    color: red;
}

#fax {
    color: blue;
}

.crossed-out {
    text-decoration: line-through;
}