* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav-bar {
    height: 75px;
    background-color: black;
    display: flex;
}

#nav-header {
    width: 900px;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}

#nav-links {
    display: flex;
    gap: 20px;
    margin-left: 25px;
    list-style-type: none;
    font-weight: 900;
}

#nav-links a {
    color: white;
    text-decoration: none;
}

#nav-header>button {
    margin-left: 421px;
    height: 35px;
    width: 90px;
    background-color: #34A2B8;
    color: white;
    font-size: 18px;
}

#main-content {
    width: 900px;
    height: 100vh;
    margin: 35px auto;
    display: flex;

}

#left-container {
    flex: 2;
    margin-right: 10px;
}

#right-container {
    flex: 1;
    margin-left: 10px;
}

#profile {
    border: 4px solid #CCCCCC;
    height: 350px;
    border-radius: 1%;
    margin-bottom: 25px;
}

#blue {
    background-color: #34A2B8;
    height: 100px;
    width: 584px;
    margin: -4px;
    border-radius: 1%;
}

#blue>img {
    height: 100px;
    width: 100px;
    border-style: double;
    border-width: 10px;
    border-color: #DBDBDB;
    border-radius: 50%;
    background-color: white;
    position: relative;
    top: 50px;
    left: 25px;
}

#info {
    height: 250px;
    padding: 50px 10px 25px 25px;
}

#info>h1 {
    font-size: 40px;
}


#seattle {
    display: flex;
    gap: 15px;
    margin: 10px 0px;
}

#seattle>img {
    height: 20px;
    width: 15px;
}

#seattle>h2 {
    align-items: flex-start;
}

#text {
    font-size: 20px;
    font-weight: 900;
}

#edit-profile {
    display: flex;
    gap: 15px;
    margin: 20px 0px 0px;
}

#edit-profile>img {
    height: 20px;
    width: 20px;
}

#edit-profile>a {
    font-weight: 900;
    color: #20649E;
}

#education {
    border: 4px solid #CCCCCC;
    height: 300px;
    border-radius: 1%;
    margin-top: 10px;
}

#education-top {
    height: 60px;
    background-color: black;
    margin: -4px;
    margin-left: -4px;
    margin-right: -4px;
    border-radius: 1%;
}

#education-label {
    color: white;
    padding: 16px 10px 16px 25px;
    font-size: 20px;
}

#education-info {
    padding: 20px 10px 10px 25px;
}

#education-info>h2 {
    font-size: 30px;
}

#education-info p {
    font-size: 23px;
    margin: 5px 5px, 10px 0px;
}

#connect-requests {
    border: 4px solid #CCCCCC;
    height: 200px;
}

#connect-top {
    height: 50px;
    background-color: black;
    padding: 11px;
    margin: -4px;
    border-radius: 1%;
}

#connect-label span {
    height: 5px;
    width: 5px;
    color: black;
    border-radius: 50%;
    background-color: #CCCCCC;
}

#connect-label>h2 {
    color: white;
}

#requests {
    padding: 20px 10px;
}

#todd {
    display: flex;
}

#todd-pic>img {
    width: 50px;
    height: inherit;
    border-radius: 50%;
}

#accept img {
    width: 40px;
    height: inherit;
}

#phil {
    display: flex;
}

#phil-pic>img {
    width: 50px;
    height: inherit;
    border-radius: 50%;
}

#todd-name {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 43px;
}

#phil-name {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 52px;
}

#connections {
    margin-top: 25px;
    border: 4px solid #CCCCCC;
    height: 365px;
    border-radius: 1%;
}

#connection-top {
    background-color: black;
    height: 50px;
    padding: 10px;
    margin: -4px;
    border-radius: 1%;
}

#connection-label>h2 {
    color: white;
}

#connection-label span {
    border-radius: 50%;
    background-color: white;
    color: black;
}

#connection-names {
    padding: 9px 10px 9px 9px;
}

#connection-pic>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#connect-name {
    margin: 9px;
}

#connection-pic {
    display: flex;
}

#connection-names h4 {
    margin-left: 15px;
    font-size: 25px;
}

#view {
    border: 4px solid #CCCCCC;
    height: 60px;
    margin: -4px;
    padding: 12px;
}

#view-click>a {
    margin-left: 8px;
    color: blue;
    font-size: 20px;

}